<header class="bg-white shadow-md py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-semibold text-gray-800">jasonmag</a>
    <nav>
      <a href="/" class="text-gray-600 hover:text-gray-800 px-3">Home</a>
      <a href="/blogs" class="text-gray-600 hover:text-gray-800 px-3">Blog</a>
      <a href="#" class="text-gray-600 hover:text-gray-800 px-3">About</a>
      <a href="#" class="text-gray-600 hover:text-gray-800 px-3">Contact</a>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-gray-600 hover:text-gray-800 px-3" %>
        
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "text-gray-600 hover:text-gray-800 px-3" %>
      <% end %>
    </nav>
  </div>
</header>