<body class="bg-gray-100 font-sans min-h-screen">
  <!-- Header Section -->
  <%= render 'shared/header' %>

  <!-- Hero Section -->
  <%= render 'shared/hero' %>

  <!-- Blog Posts Section -->
  <%= render partial: 'shared/blog_posts', locals: { blogs: @blogs, num_of_blog: 3 } %>

  <!-- Footer Section -->
  <%= render 'shared/footer' %>
</body>
